# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [8]:
pizza = ['Double cheese pizza','Spicy ranch pizza','BBQ buzz pizza']

In [9]:
for x in pizza:
    print(x)

Double cheese pizza
Spicy ranch pizza
BBQ buzz pizza

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [10]:
pizza = ['I like pepperoni pizza','I like Spicy ranch pizza','I like Chicken supreme pizza']

In [11]:
for a in pizza:
    print(a)

I like pepperoni pizza
I like Spicy ranch pizza
I like Chicken supreme pizza

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [13]:
for y in range(1,21):
    print(y)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [22]:
print('Odd Number from 1 to 20')
for b in range(1,21,2):
        print(b)

Odd Number from 1 to 20
1
3
5
7
9
11
13
15
17
19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [29]:
list1= [1,2,3,4,5,6,7,8,9,10]
mult_list=[]
for m in list1:
    mult_list.append(m*3)
print(mult_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [32]:
lis = [1,2,3,4,5,6,7,8,9,10]
lis1 = []
for t in lis:
    lis1.append(t**3)
print(lis1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [77]:
dishes = ['Biryani','Qorma','Pizza','Chicken Karahi','Chinese Rice','Singaporian Rice','Pilao','Haleem','Chicken tikka']

In [78]:
print('The first three items in the list are:')
dishes[0:3]

The first three items in the list are:

['Biryani', 'Qorma', 'Pizza']

In [79]:
print('Three items from the middle of the list are:')
dishes[3:6]

Three items from the middle of the list are:

['Chicken Karahi', 'Chinese Rice', 'Singaporian Rice']

In [80]:
print('The last three items in  the list are: ')
dishes[6:9]

The last three items in  the list are:

['Pilao', 'Haleem', 'Chicken tikka']

In [81]:
dishes

['Biryani',
 'Qorma',
 'Pizza',
 'Chicken Karahi',
 'Chinese Rice',
 'Singaporian Rice',
 'Pilao',
 'Haleem',
 'Chicken tikka']

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [104]:
friend_foods = []
friend_foods = dishes.copy()

In [117]:
dishes.append('Nihari')

In [119]:
print('My Favourite foods are: ')
for o in dishes:
    print(o)

My Favourite foods are:
Biryani
Qorma
Pizza
Chicken Karahi
Chinese Rice
Singaporian Rice
Pilao
Haleem
Chicken tikka
Nihari

In [121]:
friend_foods.append('Chargha')

In [126]:
print('My friends Favourite foods are:')
for y in friend_foods:
      print(y)

My friends Favourite foods are:
Biryani
Qorma
Pizza
Chicken Karahi
Chinese Rice
Singaporian Rice
Pilao
Haleem
Chicken tikka
Chargha

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [131]:
alien_color= input("Enter Alien_color : ")
if alien_color=="red":
    print("The player just earned 5 points for shooting the alien ")
elif alien_color=="green":
        print(" The player just earned 10 points.")
else:
        print(" Alien is no more")

Enter Alien_color : red
The player just earned 5 points for shooting the alien

In [99]:
alien_color= input("Enter Alien_color : ")
if alien_color=="red":
    print("The player just earned 5 points for shooting the alien ")
elif alien_color=="green":
        print(" The player just earned 10 points.")
else:
        print(" Alien is no more")

Enter Alien_color : green
 The player just earned 10 points.

In [100]:
alien_color= input("Enter Alien_color : ")
if alien_color=="red":
    print("The player just earned 5 points for shooting the alien ")
elif alien_color=="green":
        print(" The player just earned 10 points.")
else:
        print(" Alien is no more")

Enter Alien_color : blue
 Alien is no more

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [40]:
age = int(input("Enter age: "))
if age < 2:
    print('The person is a baby')
elif age==2 or age < 4:
    print('The person is a toddler')
elif age== 4 or age < 13:
    print('The Person is a kid')
elif age == 13 or age < 20:
    print('The person is a teenager')
elif age == 20 or age < 65:
    print('The person is an adult')
else:
    print('The person is an elder')

Enter age: 1
The person is a baby

In [41]:
age = int(input("Enter age: "))
if age < 2:
    print('The person is a baby')
elif age==2 or age < 4:
    print('The person is a toddler')
elif age== 4 or age < 13:
    print('The Person is a kid')
elif age == 13 or age < 20:
    print('The person is a teenager')
elif age == 20 or age < 65:
    print('The person is an adult')
else:
    print('The person is an elder')

Enter age: 3
The person is a toddler

In [43]:
age = int(input("Enter age: "))
if age < 2:
    print('The person is a baby')
elif age==2 or age < 4:
    print('The person is a toddler')
elif age== 4 or age < 13:
    print('The Person is a kid')
elif age == 13 or age < 20:
    print('The person is a teenager')
elif age == 20 or age < 65:
    print('The person is an adult')
else:
    print('The person is an elder')

Enter age: 4
The Person is a kid

In [44]:
age = int(input("Enter age: "))
if age < 2:
    print('The person is a baby')
elif age==2 or age < 4:
    print('The person is a toddler')
elif age== 4 or age < 13:
    print('The Person is a kid')
elif age == 13 or age < 20:
    print('The person is a teenager')
elif age == 20 or age < 65:
    print('The person is an adult')
else:
    print('The person is an elder')

Enter age: 13
The person is a teenager

In [45]:
age = int(input("Enter age: "))
if age < 2:
    print('The person is a baby')
elif age==2 or age < 4:
    print('The person is a toddler')
elif age== 4 or age < 13:
    print('The Person is a kid')
elif age == 13 or age < 20:
    print('The person is a teenager')
elif age == 20 or age < 65:
    print('The person is an adult')
else:
    print('The person is an elder')

Enter age: 21
The person is an adult

In [46]:
age = int(input("Enter age: "))
if age < 2:
    print('The person is a baby')
elif age==2 or age < 4:
    print('The person is a toddler')
elif age== 4 or age < 13:
    print('The Person is a kid')
elif age == 13 or age < 20:
    print('The person is a teenager')
elif age == 20 or age < 65:
    print('The person is an adult')
else:
    print('The person is an elder')

Enter age: 65
The person is an elder

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [31]:
Current_users = ['Ali','Sami','Aasif','Asfand','Shehryar','Aadil','Abeer']
new_users = ['Aadil','Abeer','Usman','Hasan','Aashir']

In [34]:
for h in new_users:
    if h in Current_users:
        print(f' {h} Username has been already used.. The person will need to enter a new username')
    else:
        print(f' {h} Username is available ')

 Aadil Username has been already used.. The person will need to enter a new username
 Abeer Username has been already used.. The person will need to enter a new username
 Usman Username is available
 Hasan Username is available
 Aashir Username is available

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [67]:
Information = {'first_name':'Ali','Last_name':'Ahmed','age':50,'city':'Karachi'}
for a,b in Information.items():
    print(f'{a}: {b}')

first_name: Ali
Last_name: Ahmed
age: 50
city: Karachi

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [68]:
for a,b in Information.items():
    print(f'{a}: {b}')

first_name: Ali
Last_name: Ahmed
age: 50
city: Karachi

In [69]:
Information  ['Birthday']='25-Jan-2019'
Information  ['Gender']='Male'
Information  ['Religion']='Islam'
Information  ['Education']='Masters'
Information  ['Cell no' ]= '0123-213123'

In [70]:
for a,b in Information.items():
    print(f'{a}: {b}')

first_name: Ali
Last_name: Ahmed
age: 50
city: Karachi
Birthday: 25-Jan-2019
Gender: Male
Religion: Islam
Education: Masters
Cell no: 0123-213123

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [75]:
rivers= {'nile':'egypt','amazon':'south america','yangtza':'china','Congo':'africa','Rhine':'europe'}
for k,v in rivers.items():
    print(f'The {k.upper()} runs through {v.upper()}')

The NILE runs through EGYPT
The AMAZON runs through SOUTH AMERICA
The YANGTZA runs through CHINA
The CONGO runs through AFRICA
The RHINE runs through EUROPE

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [98]:
Cat ={'Name of a pet':'Cat','kind of animal':'mammal','owners name':'Aashir'}
Rabbit ={'Name of a pet':'Rabbit','kind of animal':'small mammals','owners name':'Anees'}
Lion ={'Name of a pet':'Lion','kind of animal':'Wild animal','owners name':'Noman'}
Zebra ={'Name of a pet':'Zebra','kind of animal':'single-hoofed animals','owners name':'Areesh'}
Snake={'Name of a pet':'Snake','kind of animal':'REPTILES','owners name':'Daniyal'}

pets = (Cat,Rabbit,Lion,Zebra,Snake)
for p in pets:
    print(p )

{'Name of a pet': 'Cat', 'kind of animal': 'mammal', 'owners name': 'Aashir'}
{'Name of a pet': 'Rabbit', 'kind of animal': 'small mammals', 'owners name': 'Anees'}
{'Name of a pet': 'Lion', 'kind of animal': 'Wild animal', 'owners name': 'Noman'}
{'Name of a pet': 'Zebra', 'kind of animal': 'single-hoofed animals', 'owners name': 'Areesh'}
{'Name of a pet': 'Snake', 'kind of animal': 'REPTILES', 'owners name': 'Daniyal'}